mixin select-tree(items, record_parent_id="", level = 1)
    each item in items 
        - const prefix = Array(level + 1).join("-- ")
        option(
            value=item.id
            selected= (record_parent_id == item.id)
        ) #{prefix} #{item.title} 
            if(item.children && item.children.length > 0)
                +select-tree(item.children, record_parent_id, level + 1)